$theme-color-rgb:rgb(48,87,200);
$theme-color:#3057C8;
$bg-color:#F8F9FC;
$bg-color-rgba:rgb(248,249,252);
$h-100vh:100vh;


.l-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

