$theme-color-rgb:rgb(78,115,223);
$theme-color: #4e73df;
$bg-color:#F8F9FC;
$bg-color-rgba:rgb(248,249,252);
$bg-color-tab: #e4e4ff;/*tab标签颜色*/
$font-color: #555555;

$h-100vh:100vh;
html{
  font-size: 15px;
}
body{
  color: $font-color;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}

.l-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*element-ui*/
.el-dialog__footer{
  text-align: center;
}

.el-table th{
  text-align: center;
}
.el-table .cell {
  text-align: center;
}
.el-icon-table{
  font-size: 20px;
  cursor: pointer;
  margin-right: 8px;
}
.l-add-buttion{
  font-size: 35px;
  cursor: pointer;
}
.el-pagination{
  text-align: right;
  padding: 15px 0;
}
