.l-tab {
  display: flex;
  justify-content: flex-start;
  height: 45px;
  align-items: center;
  overflow-y: auto;
}
.l-tab::-webkit-scrollbar {
  //height: 1px;
}
.l-tab-item {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 5px 15px;
  cursor: pointer;
  color:#999;
  word-break: keep-all;
  white-space: nowrap;

}
.l-tab-item:hover{
  background: #fff;
  border-bottom: thin solid #fff;
  margin-bottom: -1px;
  color:$font-color;
}
.l-tab-item-active{
  background: #fff;
  border-bottom: thin solid #fff;
  color:$font-color;
}