#LMenu{
    list-style: none;
    padding: 0;
    overflow: auto;
    height: calc(100vh - 55px);
}
#LMenu::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 2px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
#LMenu::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #535353;
}
#LMenu::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


.L-item{
    display: block;
    cursor: pointer;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
    background-color: transparent;
    transition: all 0.1s;
    color:#fff;
}
.L-item > .L-item-c{
    display: inline-block;
    float: right;
    margin-right: 15px;
    line-height: unset;
}
.L-item > .L-item-o{
    display: none;
}
.L-item-name{
    margin-left: 15px;
}
.L-item-icon{
    font-size: 20px;
}
.L-item-extend{
    height: 56px;
    line-height: 56px;
    transition: all 0.1s;
}
.L-item-open{
    background-color: #3b5998 !important;
}
.L-item-open > .L-item-c{
    display: none;
}
.L-item-open > .L-item-o{
    display: inline-block;
    float: right;
    margin-right: 15px;
    line-height: unset;
}
.L-item-active{
    background-color: #3b5998 !important;
}
/***第一层级样式***/
.L-item[data-level='1']{
    background-color: transparent;
    display: block;
    height: 56px;
    line-height: 56px;
    color:#fff;
    border-bottom: rgba(255,255,255,0.15) 1px solid;
}