#LMenu{
    list-style: none;
    padding: 0;
}
.L-item{
    display: block;
    cursor: pointer;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
    background-color: #f0f0f0;
    transition: all 0.1s;
}
.L-item > .L-item-c{
    display: inline-block;
}
.L-item > .L-item-o{
    display: none;
}
.L-item-extend{
    height: 45px;
    line-height: 45px;
    transition: all 0.1s;
}
.L-item-open > .L-item-c{
    display: none;
}
.L-item-open > .L-item-o{
    display: inline-block;
}

.L-item[data-level='1']{
    background-color: #ccc;
    display: block;
    height: 45px;
    line-height: 45px;
}